{% extends 'base.html' %}

{%  block page_content %}
<div class="col-auto">
  
    <h3>Request for service</h3>
    <br/>
    <p><b>ID: </b>REQ000{{ request.id }}</p> 
    <p><b>Name: </b>{{ request.name }}</p> 
    <p><b>Description: </b>{{ request.description }}</p> 
    <p><b>Service: </b>{{ request.service.name }}</p> 
    <p><b>Priority: </b>{{ request.priority }}</p> 
    <p><b>Department: </b>{{ request.department.name }}</p> 
    <p><b>Status: </b>{{ request.status.name }}</p> 
    <p><b>Author: </b>{{ request.user.username }}</p> 

</div>
{% endblock %}