{% extends 'base.html' %}
{%  import 'bootstrap/wtf.html' as wtf %}

{% block title %}Services | Requests{% endblock %}

{% block page_content %}
<div class="col-md-6">
  <div class="page-header text-center">
    <h1>Services</h1>    
  </div>  
  <ul class="list-group">
  {% for service in services %}
    <li class="list-group-item">
      <p>{{ service.name }}</p>
    </li>
  {% endfor %}
  </ul>
  
</div>
<div class="col-md-6">
<div class="page-header text-center">
  <h1>Add service</h1>
</div>
  {{ wtf.quick_form(form) }}
</div>
{% endblock %}