{% extends "base.html" %}

{% block title %}Requests{% endblock %}

{% block page_content %}
<div class="jumbotron text-center">
    <h1>
      <a href="{{ url_for('request.index') }}"><i class="text-danger fa fa-exclamation-circle fa-lg"></i></a>
    </h1>
    <h2>Requests</h2>
    <p class="lead">Let's help you manage <em>some</em> of your requests.</p>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('request.request') }}" class="btn btn-success btn-lg"><i class="fa fa-plus"></i> New request</a>
    <a href="{{ url_for('request.index') }}" class="btn btn-success btn-lg">View requests <span class="badge">{{ requests }}</span></a>
    {% else %}
    <a href="{{ url_for('auth.register') }}" class="btn btn-success btn-lg">Join requests</a>    
    {% endif %}
</div>
{% endblock %}
